#twittler {
	margin-left: 20%;
    margin-right: 20%;
	font-family: Helvetica;
	text-align: center;
	min-width: 400px;
}

#header {
	text-align: left;
}

#tweets {
	position: relative;
}

.tweet {
    position: relative;
    z-index: 1;
    text-align: center;
    background: #99CCFF;
    /*border: 1px solid blue;*/
	border-radius: 15px;
    padding: 10px;
    margin-bottom: 2px;
    height: 40px;
	display: none;
}
/*
.tweet:nth-child(odd) {
    background: yellow;
}
*/
.tweet_msg {
    /*display: inline;*/
    position: relative;
    top: -1px;
    text-align: left;
    font-size: 20px;
    /*font-size: 2.3vw;*/
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 15px; 
    z-index: 1;
    text-align: right;
    color: #3399FF;
}