body {
    margin: 0px;
}

h1, h2 {
    display: inline;
}

#twittler {
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    min-width: 500px;
    max-width: 700px;
}

#header {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

#header ul {
    margin: 10px;
}

#header li {
    display: inline;
}

#tweets {
    clear: both;
    overflow: hidden;
    position: relative;
}

.row {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: hidden;
    display: none;
}

.user {
    clear: both;
    float:left; 
    width: 125px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet {
    float: left;
    min-width: 200px;
    max-width: 500px;
    position: relative;
    z-index: 1;
    text-align: center;
    background: #99CCFF;
    /*border: 1px solid blue;*/
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 2px;
    height: 40px;
}
/*
.tweet:nth-child(odd) {
    background: yellow;
}
*/
.tweet_msg {
    /*display: inline;*/
    position: relative;
    top: -1px;
    text-align: left;
    font-size: 20px;
    /*font-size: 2.3vw;*/
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 15px; 
    z-index: 1;
    text-align: right;
    color: #3399FF;
}

.round-button {
        padding: 7px 14px 7px 14px;
        background-color: #99CCFF;
        border-color: #99CCFF;
        color: black;
        border-radius: 5px;
        font-size: .8em;
        text-decoration: none;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.no-underline {
    color: inherit;
    text-decoration: none;
}